html,body{
    
}
$spacing: 14px;
$footer-height: 70px;
body{
    margin:0 auto;
    width: 95%;
    height: auto;
    overflow: auto;
}

a4{
    width: 210mm;
    height:297mm;
    box-shadow: 0px 0px 0px 1px #bcbcbc;
    margin: 20px auto;
    display:block;

    left{
        height: 100%;
        width: 80mm;
        max-width: 100%;
        min-width: 50mm;
        box-shadow: 1px 0px 0px 0px #dcdcdc;
        display: block;  
    }

    #left-wrapper {
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
    
    #img-wrapper {
        height: 80mm;
        position: relative;
        overflow: hidden;
    }
    
    #img {
        width: 60%;
        height: 60%;
        margin: 20%;
        border-radius: 100%;
        box-shadow: 0px 0px 2px 0px #333 inset;
        overflow: hidden;
        position: relative;
    }

    #avatar{
        width: 100%;
        height: 100%;        
    }

    #frame {
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 2;
        position: absolute;
        box-shadow: 0px 0px 5px 0px #333 inset;
        border-radius: 100%;
        left: 0;
        top: 0;
    }
    .rg-right, .rg-left {
        span {
            border-width: 0 1px;
            top: 50%; margin-top: -10px;
            margin: -10px 0 0 $spacing/4;
            height: 20px;
            width: $spacing/2;
        }
    }
    .rg-top, .rg-bottom {
        span {
            border-width: 1px 0;
            left: 50%;
            margin: $spacing/4 0 0 -10px;
            width: 20px;
            height: $spacing/2;
        }
    }
    .rg-top     {
        cursor: row-resize;
        width: 100%;
        top: 0;
        left: 0;
        margin-top: -$spacing/2;
    }
    .rg-right   {
        cursor: col-resize;
        height: 100%;
        right: 0;
        top: 0;
        margin-right: -$spacing;
    }
    .rg-bottom  {
        cursor: row-resize;
        width: 100%;
        bottom: 0;
        left: 0;
        margin-bottom: -$spacing/2;
    }
    .rg-left    {
        cursor: col-resize;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: -$spacing;
    }

    personal {
        width: 100%;
        text-align: center;

        .editable-wrapper{
            display: inline-flex;
            width: 100%;
        }
    }

    .edit-field {
        width: 80%;
        display: block;
        margin: 5px auto;
        padding: 3px;
        border: none;
        border-bottom: 1px solid #1acee6;
        outline: none;
    }
}

.font-selector-wrapper {
    width: 50px;
    min-height: 30px;
    height:30px;
    overflow: hidden;
}

.font-selector {
    width: 90%;
    height: 90%;
    overflow: hidden;
    margin: auto;    
}

.font-selector .font-item {
    height: 18px;
    padding:6px;
    display: inline-block;
}

.font-selector.opened {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 0px 2px 0px;
    overflow: auto;
}

.selected {
    width: 100%;
    height: 100%;
    margin: 1px 0px;
}

.search{
    margin:5px;
}