<h1 class="personal-name" id="personal_name" cv-bind="personal.name.val" cv-editable cv-type="name.val" class="cv-editable" cv-style="personal.name.style"></h1>
<h2 class="personal-prof" id="personal_prof" cv-bind="personal.prof.val" cv-editable cv-type="prof.val" class="cv-editable" cv-style="personal.prof.style"></h2>
<div class="editable-wrapper">
    <icon-selector icons="icons" for="email" selected="personal.email.icon"></icon-selector>
    <span id="personal_email" cv-bind="personal.email.val" cv-editable cv-type="email.val" class="cv-editable" cv-style="personal.email.style"></span>
</div>
<div class="editable-wrapper">
    <icon-selector icons="icons" for="phone" selected="personal.phone.icon"></icon-selector>
    <span id="personal_phone" cv-bind="personal.phone.val" cv-editable cv-type="phone.val" class="cv-editable" cv-style="personal.phone.style" ></span>
</div>
<div class="editable-wrapper">
    <icon-selector icons="icons" for="homepage" selected="personal.homepage.icon"></icon-selector>
    <span id="personal_homepage" cv-bind="personal.homepage.val" cv-editable cv-type="homepage.val" class="cv-editable" cv-style="personal.homepage.style"></span>
</div>
