<h1 id="personal_name" ng-bind="personal.name" cv-editable data-type="name" class="cv-editable"></h1>
<h2 id="personal_prof" ng-bind="personal.prof" cv-editable data-type="prof" class="cv-editable"></h2>
<font-selector fonts="fonts"></font-selector><span id="personal_email" ng-bind="personal.email" cv-editable data-type="email" class="cv-editable"></span>
<font-selector fonts="fonts"></font-selector><span id="personal_phone" ng-bind="personal.phone" cv-editable data-type="phone" class="cv-editable"></span>
<font-selector fonts="fonts"></font-selector><span id="personal_homepage" ng-bind="personal.homepage" cv-editable data-type="homepage" class="cv-editable"></span>